<a href="https://colab.research.google.com/github/angguncaroliine/Pemerograman-Dasar/blob/main/Pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 19
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
x = 6
print(type(x))

x = 6.0
print(type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [ ]:
x = True
print(type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
x = 'Polibatam'
print(type(x))

<class 'str'>

In [ ]:
multi_line = """Halo!
Kapan terakhir kali kita belajar bahasa pemrograman?
Kita terakhir kali belajar di hari Senin yang lalu."""

print(multi_line)

Halo!
Kapan terakhir kali kita belajar bahasa pemrograman?
Kita terakhir kali belajar di hari Senin yang lalu.

In [ ]:
x = 'pemograman dasar'
print(x[2])

m

In [ ]:
x = 'halo sobat elektro'
x[5] = 'F'

TypeError: 'str' object does not support item assignment

In [ ]:
x = 'ikanhiu'
print(x[1:])

kanhiu

In [ ]:
name = "Anggun Caroline"
print(f"Nama lengkap ku {name}")

Nama lengkap ku Anggun Caroline

In [ ]:
name = "Anggun Caroline"
print("Sa pu nama %s" % (name))

Sa pu nama Anggun Caroline

In [ ]:
name = "Engineer"
print("Cita-cita saya mau jadi {}".format(name))

Cita-cita saya mau jadi Engineer

In [ ]:
nama = "martabak keju"
print("Makanan paling enak :", nama)

Makanan paling enak : martabak keju

In [ ]:
x = [1, 2.2, 'Polibatam']
print(type(x))

<class 'list'>

In [ ]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [ ]:
x = [1, 'Polibatam', True, 1.0]


print(x[2])

True

In [ ]:
x = [1, 2.2, 'Polibatam']
x[0] = 'Indonesia'
print(x)

['Indonesia', 2.2, 'Polibatam']

In [ ]:

numbers = [23, 43, 15, 34]

print (numbers[0])
print (numbers[1])
print (numbers[2])
print (numbers[3])

numbers [2] = 51

print (numbers[2])
print (numbers)

23
43
15
34
51
[23, 43, 51, 34]

In [ ]:
numbers = [1, 2, 3]
numbers.insert(3, 5)
print (numbers)

numbers[3] = 4
print (numbers)

numbers.pop(2)
print (numbers)

[1, 2, 3, 5]
[1, 2, 3, 4]
[1, 2, 4]

In [ ]:
mylist = [1, "rumah", 4.5, True, ["kamar mandi", "kamar tidur"]]

print (mylist[0])
print (mylist[1])
print (mylist[2])
print (mylist[3])
print (mylist[4])

print (mylist[4][0])
print (mylist[4][1])

1
rumah
4.5
True
['kamar mandi', 'kamar tidur']
kamar mandi
kamar tidur

In [ ]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]
print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
x = (1, "polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [ ]:
x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [ ]:
x = (5, 'program', 1+3j)
x[1] = 'polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = {1, 2, 10, 8, 2, 13}
print(x)
print(type(x))

{1, 2, 8, 10, 13}
<class 'set'>

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1.union(set2)
print("union:", union)

intersection = set1.intersection(set2)
print("intersection:", intersection)

union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b))
print(a.intersection(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4}
{2, 3}
{1, 4}

In [ ]:
x = {'name': 'preseus evans', 'age': 20, 'isMaried': False}
print(type(x))

<class 'dict'>

In [ ]:
x = {'name': 'preseus evans', 'age': 20, 'isMaried': False}
print(x[0])

KeyError: 0

In [ ]:
x = {'name': 'preseus evans', 'age': 20, 'isMaried': False}
print(x['name'])

preseus evans

In [ ]:
x = {'name': 'preseus evans', 'age': 20, 'isMaried': False}
x['Job'] = "web developer"
print(x)

del x['isMaried']
print(x)

x['name'] = "Anggun"
print(x)

{'name': 'preseus evans', 'age': 20, 'isMaried': False, 'Job': 'web developer'}
{'name': 'preseus evans', 'age': 20, 'Job': 'web developer'}
{'name': 'Anggun', 'age': 20, 'Job': 'web developer'}

In [ ]:
propertyDetail = {"numFloors":1, "propertyType": "rumah", "hasSwimmingpool": True, "hasDog": False}
print(propertyDetail["numFloors"])
print(propertyDetail["propertyType"])
print(propertyDetail["hasSwimmingpool"])
print(propertyDetail["hasDog"])

propertyDetail["hasDog"] = True
print(propertyDetail["hasDog"])

1
rumah
True
False
True